@charset "utf-8";
/* CSS Document */


/*Focus ring colour*/
:focus {
  outline: 3px dotted #F00;
};


body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


body,
td,
th,
p{
  font: 16px/1.2rem Arial, Helvetica, sans-serif;
  color: #333;
}


body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}


ul,
li {
  font-size: 1.0em;
}


a {
  color: orange;
  text-decoration: none;
}


a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}


a img{
  border: none 0px #fff;
}


h1,
h2,
h3,
h4, 
h5,
h6 {
  margin: 0 0 20px;
}


article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


.maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}


footer {
  background-color: #000;
  color: #aaa;
  font-size: 0.7em;;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}


/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
  height: 90px;
  display: flex;
}


nav h1 {
  margin: auto;
  display: inline-block;
  line-height: 1.0rem;
}


nav h1 a {
  color: #fff;
  font-size: 1.0em;
  line-height: 1.2em;
  font-weight: 100;
  letter-spacing: 10px;
  text-transform: uppercase;
}


.breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  margin: 0;
}


/* Display list items side by side */
.breadcrumb li {
  display: inline;
  font-size: 1.0em;
}


/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}


/* Add a color to all links inside the list */
.breadcrumb li a {
  padding: 1.2em;
  color: #0275d8;
  text-decoration: none;
}


/* Add a color on mouse-over */
.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


/* ====================== Map ====================== */
#map {
  height: 200px;
  width: 100%;
  background-color: #ccc;
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  max-width: 1125px;
  margin: 0 auto;
  background-color: #185d8c;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}


.filter-options h2 {
  color: white;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1;
  margin: 20px 0 5px;
  width: 100%;
  text-align: center;
}


.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1.2em;
  height: 35px;
  letter-spacing: 0;
  padding: 0 10px;
  margin: 10px auto;
  width: 45%;
}


/* ====================== Restaurant Listing ====================== */
#restaurants-container {
  display: flex;
  flex-wrap: wrap;
}


.restaurants-list {
  max-width: 1125px;
  margin: 0 auto;
  background-color: #f3f3f3;
  list-style: outside none none;
  padding: 30px 15px 60px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 360px));
  width: auto;
  grid-auto-rows: auto;
  column-gap: 2em;
}


.restaurants-list li {
  display: grid;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  min-height: 380px;
  text-align: left;
  width: 100%;
  margin: 10px 0;
}


.restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
}


.restaurants-list li h3 {
  color: #854700;
  font: 1.4rem/1.3rem Arial,sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  margin: 20px 0 10px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}


.restaurants-list p {
  margin: 0;
  font-size: 1.1em;
  text-align: center;
  width: 100%;
}


.restaurants-list li a {
  background-color: #854700;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  margin: 15px 0 0;
  padding: 1.0em 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}


/* ====================== Restaurant Details ====================== */
.inside header {
  top: 0;
  width: 100%;
  z-index: 1000;
}


.inside .maincontent {
  display: flex;
  flex-wrap: wrap;
}


.inside .map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  right: 0;
  width: 100%;
}


.inside footer {
  bottom: 0;
  position: relative;
}


.restaurant-name {
  color: #854700;
  font: 1.5rem/1.8rem Arial,sans-serif;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
}


.restaurant-img {
  width: 100%;
}


.restaurant-address {
  font-size: 1.4em;
  margin: 10px 0px;
}


.restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}


#restaurant-container,
.reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 15px 15px 30px;
  max-width: 530px;
  flex-grow: 1;
  margin: 0 auto;
}


#restaurant-container {
  max-width: 360px;
}


.reviews-container {
  padding: 15px 15px 80px;
}


.reviews-container h3 {
  color: #854700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 200;
  letter-spacing: 0px;
  margin: 15px 0 30px;
}


#reviews-list {
  margin: 0;
  padding: 0;
}


#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
}


#reviews-list li p {
  margin: 0 0 10px;
  line-height: 1.5rem;
}


#restaurant-hours {
  width: 100%;
}


caption h3 {
  color: #854700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 300;
  letter-spacing: 0px;
  margin: 10px 0;
}


table{
  border-collapse:collapse;
  border: 1px solid #999;
}


table th{
  background-color: #ccc;
}


#restaurant-hours td,
#restaurant-hours th {
  color: #525252;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  border:1px solid #999;
  padding: 0.4rem;
}


/*Skip to main content link*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
  border-bottom-right-radius: 8px;
}


.skip-link:focus {
  top: 0;
}


/*Layout Media Queries*/
@media screen and (max-width: 400px) {
.breadcrumb li a  {
    font-size: 0.9em;
    padding: 0;
}
}


@media screen and (min-width: 350px) {
 nav h1 a {
  font-size: 1.1em;
}
}


@media screen and (max-width: 500px) {
  .filter-options select {
    margin: 10px 15px;
    width: 100%;
  }
}


@media screen and (min-width: 590px) {
 .inside .maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}
}


@media screen and (min-width: 630px) {
  nav h1 a {
    font-size: 1.4em;
  }
}


@media screen and (min-width: 775px) {
 nav h1 a {
  font-size: 2.0em;
}
}


@media screen and (min-width: 950px) {
  #map {
    height: 400px;
  }
}


@media screen and (min-width: 800px) {
  #restaurant-container {
    margin: 0 0 0 auto;
  }


  .reviews-container {
    margin: 0 auto 0 0;
  }
}


/*Images media queries*/
@media screen and (min-width: 700px) {
  .restaurants-list {
    grid-template-columns: repeat(2, minmax(300px, 360px));
  }


  #restaurant-container {
    width: calc(50% - 30px);
  }


  .reviews-container {
    width: calc(50% - 30px);
    min-width: 350px;
  }
}
@media screen and (min-width: 1020px) {
  .restaurants-list {
    grid-template-columns: repeat(3, minmax(300px, 360px));
  }
}